.success {
    color: green;
    background-color: lightgreen;
    border: 1px solid darkgreen;
    padding: 10px;
    border-radius: 5px;
}

.error {
    color: rgb(12, 1, 1);
    background-color: lightcoral;
    border: 1px solid darkred;
    padding: 10px;
    border-radius: 5px;
}